# import library

In [1]:
import data_loader 
from data_cleaning import KNNImputer,SimpleImputer,Iterativeimputer,LabelEncoder,OneHotEncoder

# load data set

In [ ]:
data_set=data_loader.load_dataset(r"C:\Users\Eng^ M.Alaa^\Dropbox\Ml-Algorithms-Hub\Core\Dataset\xAPI-Edu-Data.csv")
# data_set=data_loader.load_dataset(r"C:\Users\TUF\Documents\My Data Sets\Spotify_2024_Global_Streaming_Data.csv")

In [ ]:
data_set.isnull().sum()

In [ ]:
data_set.info()

In [ ]:
import pandas as pd
import numpy as np
data_set=pd.read_csv(r"C:\Users\Eng^ M.Alaa^\Dropbox\Ml-Algorithms-Hub\Core\Dataset\xAPI-Edu-Data.csv")

def handle_outliers_log(data):
    column_num=data_set.select_dtypes(include='number').columns.tolist()

    data[column_num] = np.log1p(data[column_num])
    return data

In [7]:
data_set.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16.0,2.0,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20.0,20.0,3.0,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10.0,7.0,0.0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25.0,5.0,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50.0,12.0,50,No,Bad,Above-7,M